.categories{
    .categories__title{
        color: white;
        margin-top: 50px;
    }
    .categories__cards__wrapper{
        .categories__card{
            width: 147px;
            height: 209px;
            background-color: #3B3B3B;
            border-radius: 20px;
            h4{
                color: white;
                padding: 15px 20px;
            }
    }
}
}